.contact {
  padding: 60px 20px;
  max-width: 1370px;
  margin: auto;
  font-family: 'Arial', sans-serif;
  background: url('../images/pdt_pg_bg.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}

.contact-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.gradient-text {
  background: linear-gradient(to right, orange, rgb(189, 58, 189), orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.contact-info,
.contact-form-container {
  flex: 1;
  min-width: 320px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.contact-info {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  backdrop-filter: blur(6px);
}

.contact-form-container {
  background-color: #fff;
  color: #000;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info-item p {
  margin: 0;
  font-size: 1rem;
}

.info-item strong {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 3px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.phone-icon {
  background-image: url('../images/call_contact_pg.png');
}

.email-icon {
  background-image: url('../images/email_icon.png');
}

.location-icon {
  background-image: url('../images/location\ \(2\).png');

}

.clock-icon {
  background-image: url('../images/icon_wh.png');

}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}
