.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to right, orange);
  color: white;
  max-width: 91.5%;
  margin: 10px auto;
  border-radius: 10px;
  box-sizing: content-box;
  margin-bottom: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40%;

}

.logo-container img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
 
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav a:hover {
  opacity: 0.8;
}